language: android
jdk: oraclejdk7
env:
  matrix:
    - ANDROID_TARGET=android-26  ANDROID_ABI=armeabi-v7a

android:
  components:
    - build-tools-26.0.2
    - android-26
    - extra
    - $ANDROID_TARGET
      - sys-img-armeabi-v7a-$ANDROID_TARGET

before_script:
  - echo no | android create avd --force -n test -t $ANDROID_TARGET --abi $ANDROID_ABI
  - emulator -avd test -no-skin -no-audio -no-window &
  - adb wait-for-device
  - adb shell input keyevent 82 &

script: ./gradlew connectedAndroidTest